<div class="banner">
  <div class="banner-content">
    <h1>Mister Cocktail</h1>
    <p>Create your own Cocktail</p>
    <%= link_to new_cocktail_path, { :class => "btn btn-warning"} do %>
<i class="fas fa-cocktail"> Create your Cocktail!</i>
<% end %>
  </div>
</div>

<h1>Cocktails:</h1>


<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-6 col-md-4 ">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
        url(<%= cl_image_path(cocktail.photo, height: 300, width: 400, crop: :fill)%>)">
          <div class="card-name"><%= cocktail.name %></div>
    <!--       <div class="card-description">
            <p>Very cool city, the best</p>
          </div> -->
          <div class="delete_logo"> <%= link_to "Supprimer un cocktail", cocktail_path(cocktail.id),
          method: :delete,
          data: { confirm: "Are you sure?" } %>
          </div>
          <a class="card-link"> </a>
           <%= link_to cocktail_path(cocktail), {:class => "card-link" } do %>
           <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>













