<div class= "container">
  <div class= "form">
    <%= simple_form_for [@cocktail, @dose] do |f|%>
    <%= f.error_notification %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.button :submit, class: "btn btn-warning" %>
    <% end %>
  </div>
